{{ define "title" }}{{ .AreaOfOperation.FullID }} &ndash; {{ .AreaOfOperation.Name }}{{ end }}

{{ define "content" }}
<section class="container">
  <a class="breadcrumb" href="/">Home</a>
  <h1 class="page__title">{{ .AreaOfOperation.FullID }} &ndash; {{ .AreaOfOperation.Name }}</h1>
</section>

{{ $area := .AreaOfOperation}}

{{ with .Tasks }}
<section class="container">
  {{ range . }}
  <div class="task">
    <div class="task__header">
      <h2 class="task__title">
        <a href="/acs/{{ $area.ACS }}/{{ $area.PublicID }}/{{ .PublicID }}">{{ .Name }}</a>
      </h2>
      <h3 class="task__subtitle">{{ $area.FullID }}.{{ .PublicID }}</h3>
    </div>

    {{ with .Objective }}
    <p class="task__objective"><strong>Objective:</strong> {{ . }}</p>
    {{ end }}

    <div class="task__elements">
      <strong class="task__elements__title">Elements</strong>
      <p>{{ len .KnowledgeElements }} Knowledge • {{ len .RiskManagementElements }} Risk • {{ len .SkillElements }} Skill</p>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
{{ end }}
