{{ define "content" }}
<section class="container">
  <h1>ACS - Private Pilot Airplane</h1>
  <ul>
    {{ range .AreasOfOperation }}
    <li>{{ .ID }} &ndash; {{ .Name }}</li>
    {{ end }}
  </ul>
</section>
{{ end }}
