{{ define "title" }}{{ .Task.Name }}{{ end }}

{{ define "content" }}
<section class="container">
  <div class="breadcrumbs mb-md">
    <a class="breadcrumb" href="/">Home
    </a><a class="breadcrumb" href="/acs/{{ .Task.ACS }}/{{ .Task.AreaPublicID }}">{{ .Task.AreaName }}</a>
  </div>

  <section class="card mb-lg">
    <h1 class="page__title">{{ .Task.Name }}</h1>
    <h2 class="page__subtitle text-subtle mb-md">{{ .Task.ACS }}.{{ .Task.AreaPublicID }}.{{ .Task.PublicID }}</h2>

    <p><strong>Objective:</strong> {{ .Task.Objective }}</p>
  </section>

  {{ with .Task.KnowledgeElements }}
  <div class="card mb-md">
    <p class="mb-sm">
      <em>
        <strong>Knowledge:</strong>
        The applicant demonstrates understanding of:
      </em>
    </p>
    {{ template "task-element-list" . }}
  </div>
  {{ end }}

  {{ with .Task.RiskManagementElements }}
  <div class="card mb-md">
    <p class="mb-sm">
      <em>
        <strong>Risk Management:</strong>
        The applicant is able to identify, assess, and mitigate risk associated with:
      </em>
    </p>
    {{ template "task-element-list" . }}
  </div>
  {{ end }}

  {{ with .Task.SkillElements }}
  <div class="card mb-md">
    <p class="mb-sm">
      <em>
        <strong>Skills:</strong>
        The applicant exhibits the skill to:
      </em>
    </p>
    {{ template "task-element-list" . }}
  </div>
  {{ end }}
</section>
{{ end }}
