* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: rgb(27, 117, 208);
}

a:hover {
  color: rgb(21, 92, 162);
}

ol, ul {
  list-style-position: inside;
}

.breadcrumb {
  display: inline-block;
  margin-bottom: 1em;
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 1rem;
}

.page__title {
  font-size: 1.75rem;
  margin-bottom: 2em;
}

.task {
  margin-bottom: 2em;
}

.task__title {
  font-size: 1.5rem;
  margin-bottom: .5em;
}
