* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 5px;

  --box-shadow-default: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-active: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  --color-text-subtle: #777;

  --space-xs: .25em;
  --space-sm: .5em;
  --space-md: 1em;
  --space-lg: 2em;
}

body {
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

a,
a:visited {
  color: rgb(27, 117, 208);
}

a:hover {
  color: rgb(21, 92, 162);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

ol, ul {
  list-style-position: outside;
  margin-left: var(--space-lg);
}

.bradcrumbs {
  display: flex;
}

.breadcrumb {
  display: inline-block;
}

.breadcrumb::before {
  color: var(--color-text-subtle);
  content: '/';
  display: inline-block;
  font-weight: bold;
  margin: 0 var(--space-sm);
  text-decoration: none;
}

.breadcrumb:first-child::before {
  content: '';
  margin: 0;
}

.breadcrumb--active {
  color: var(--color-text-subtle);
}

.card {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-default);
  padding: var(--space-md);
  transition: box-shadow .25s;
}

.card--active-hover:hover {
  box-shadow: var(--box-shadow-active);
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 var(--space-md);
}

.container--lg {
  max-width: 75rem;
}

.mb-xs {
  margin-bottom: var(--space-xs);
}

.mb-sm {
  margin-bottom: var(--space-sm);
}

.mb-md {
  margin-bottom: var(--space-md);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}

.mt-lg {
  margin-top: var(--space-lg);
}

.page__subtitle {
  font-size: 1.5rem;
}

.page__title {
  font-size: 2.5rem;
}

.sub-elements {
  list-style-type: lower-alpha;
}

.task__title {
  font-size: 1.75rem;
  margin-bottom: var(--space-xs);
}

.task-element__form {
  display: flex;
  gap: 0 var(--space-sm);
  grid-column: 2 / 3;
}

.task-element-list {
  display: grid;
  gap: 0 var(--space-md);
  grid-template-columns: max-content auto;
}

.text-subtle {
  color: var(--color-text-subtle);
}
