* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 5px;

  --box-shadow-default: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-active: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  --color-text-subtle: #777;
}

body {
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

a,
a:visited {
  color: rgb(27, 117, 208);
}

a:hover {
  color: rgb(21, 92, 162);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

ol, ul {
  list-style-position: outside;
  margin-left: 2em;
}

.breadcrumb {
  display: inline-block;
  margin-bottom: 1em;
}

.card {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-default);
  padding: 1em;
  transition: box-shadow .25s;
}

.card--active-hover:hover {
  box-shadow: var(--box-shadow-active);
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 1rem;
}

.mb-sm {
  margin-bottom: .5em;
}

.mb-md {
  margin-bottom: 1em;
}

.mb-lg {
  margin-bottom: 2em;
}

.page__subtitle {
  font-size: 1.5rem;
}

.page__title {
  font-size: 2.5rem;
}

.sub-elements {
  list-style-type: lower-alpha;
}

.task__title {
  font-size: 1.75rem;
  margin-bottom: .25em;
}

.text-subtle {
  color: var(--color-text-subtle);
}
