{{ define "task-sub-element-list" }}
  {{ with . }}
  <ul>
    {{ range . }}
    <li>
      {{ .Content }}
      {{ with .SubElements }}
      <ol class="sub-elements">
        {{ range . }}
        <li>{{ .Content }}</li>
        {{ end }}
      </ol>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
