{{ define "task-element-list" }}
  {{ with . }}
  <div class="task-element-list">
    {{ range . }}
    <p class="text-subtle">{{ .FullPublicID }}</p>
    <div class="mb-xs" id="{{ .FullPublicID }}">
      {{ .Content }}
      {{ with .SubElements }}
      <ol class="sub-elements">
        {{ range . }}
        <li value="{{ add .Order 1 }}">{{ .Content }}</li>
        {{ end }}
      </ol>
      {{ end }}
    </div>
    <div class="task-element__form mb-sm">
      {{ template "element-confidence-form" (confidenceFormData .ID .ConfidenceLevel) }}
    </div>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
