{{ define "task-element-list" }}
  {{ with . }}
  <div class="task-element-list">
    {{ range . }}
    <p class="text-subtle">{{ .FullPublicID }}</p>
    <div class="mb-xs" id="{{ .FullPublicID }}">
      {{ .Content }}
      {{ with .SubElements }}
      <ol class="sub-elements">
        {{ range . }}
        <li value="{{ add .Order 1 }}">{{ .Content }}</li>
        {{ end }}
      </ol>
      {{ end }}
    </div>
    <div class="task-element__form mb-sm">
      <form action="/task-elements/{{ .ID }}/confidence" method="post">
        <div class="button-group">
          <button class="button-group__btn button-group__btn--happy" name="high" type="submit">
            <i class="fa-regular fa-smile"></i>
          </button>
          <button class="button-group__btn button-group__btn--meh" name="medium" type="submit">
            <i class="fa-regular fa-face-meh"></i>
          </button>
          <button class="button-group__btn button-group__btn--bad" name="low" type="submit">
            <i class="fa-regular fa-face-frown"></i>
          </button>
        </div>
      </form>
    </div>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
